.reposContainer{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: rgb(122, 123, 123); */
}

.repo{
    width: 23%;
    height: auto;
    background-color: rgb(17, 104, 166);
    margin: 10px;
    padding: 10px;
    line-height: 1.5;
}

.repo a{
    text-decoration: none;
    color: white;
}
